body {
    background-image: url(../img/body-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}

.hero {
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    padding: 0 79px;
}

.container {
    margin: 0 60px;
}

.hero-title {
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 18px 0;
    text-transform: uppercase;
    transition: 0.5s;
}

.hero-title:hover {
    color: #3CB878;
    cursor: default;
}

.hero-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 70%);
}

.hero-icons {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 65%);
    position: relative;
}

.hero-icons::after {
    content: "";
    height: 19px;
    width: 1px;
    position: absolute;
    opacity: 0.5;
    border-right: 1px solid rgba(255, 255, 255, 0.9);
    right: -23%;
    top: 15%;
}

.hero-link:hover svg path {
    fill: #3CB878;
    transition: 0.5s;
}

.hero-text {
    color: #FFFFFF;
    cursor: default;
}

.hero-text-hover:hover {
    color: #3CB878;
    transition: 0.5s;
}

.registration-field {
    width: 444px;
    margin: 54px auto 74px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.sign-log {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 31px;
}

.socials {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.sign-up {
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    position: relative;
}

.sign-up::before {
    content: "";
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: absolute;
    left: -87%;
}

.log-in {
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}

.log-in:hover {
    text-decoration: underline;
    cursor: default;
}

.facebook-link {
    background: #305DB8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 23px 12px 18px;
    border-radius: 5px;
    transition: 0.5s;
}

.facebook-link:hover {
    background: #022263;
}

.facebook {
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    padding-left: 16px;
    position: relative;
}

.facebook::before {
    content: "";
    width: 1px;
    height: 28px;
    background: #0A162F;
    opacity: 0.1;
    position: absolute;
    left: -5%;
    top: -35%;
}

.facebook-img {
    padding-right: 19px;
}

.google-link {
    background: #DF4A32;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 27px 15px 12px;
    border-radius: 5px;
    transition: 0.5s;
}

.google-link:hover {
    background: #AB1F09;
}

.google {
    padding-left: 30px;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    position: relative;
}

.google::before {
    content: "";
    width: 1px;
    height: 28px;
    background: #0A162F;
    opacity: 0.1;
    position: absolute;
    left: -1%;
    top: -35%;
}

.google-img {
    padding-right: 7px;
}

.or {
    text-align: center;
    margin-top: 31px;
    position: relative;
    color: #848484;
    margin-bottom: 11px;
}

.or::before {
    content: "";
    width: 147px;
    position: absolute;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    left: 0%;
    top: 55%;
}

.or::after {
    content: "";
    width: 147px;
    position: absolute;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    top: 55%;
    right: 0%;
}

.name,
.lastname,
.email,
.password,
.confpassword {
    width: 93%;
    padding: 16px 0 16px 20px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    outline: none;
    margin-bottom: 15px;
}

input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.terms {
    color: #3CB878;
}

.terms:hover {
    text-decoration: underline;
}

.button {
    width: 100%;
    background: rgba(60, 184, 120, 0.8);
    text-align: center;
    padding: 16px 0;
    margin-top: 20px;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 38px;
    transition: 0.5s;
}

.button:hover {
    background: #01813F;
}
