    body {
    background-image: url(../img/body-background-image.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 1050px;
    margin: 0 auto;
}

.hero {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
}

.hero-logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-logo-text {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    margin-left: 8px;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}

.logo-milan {
    font-weight: bold;
    font-size: 29px;
    line-height: 32px;
}

.hero-contacts {
    display: flex;
    flex-direction: column;
}

.hero-contacts-text {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: end;
}

.hero-contacts-text:first-child {
    margin-bottom: 19px;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 37px;
    margin-bottom: 49px;
}

.main-content-items {
    text-align: center;
    position: relative;
    overflow: hidden;
}

.main-content-items:hover .content-hover {
    left: 0%;
}
    
.main-content-items:hover .main-content-text{
    color: #F26522;
}

.content-hover {
    width: 251px;
    font-family: 'Roboto', sans-serif;
    background-color: #F26522;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    padding: 7px 37px 12px 16px;
    position: absolute;
    top: 61%;
    left: -102%;
    transition: 0.5s;
}

.euro {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

.hover-text:first-child {
    line-height: 20px;
}

.hover-text:last-child {
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    margin-bottom: 5px;
    position: relative;
}

.hover-text:last-child::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-top: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
    top: 3px;
    right: -20px;
    transform: rotate(45deg);
}

.main-content-images {
    margin-bottom: 20px;
}

.main-content-text {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.bottom {
    text-align: center;
    margin-bottom: 15px;
}

.bottom-text {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}

.hero:hover .hero-logo-image {
    content: url(../img/hero-logo-orange.png);
}

.hero:hover .hero-logo-text, 
.hero:hover .hero-contacts-text {
    color: #F26522;
}

