body {
    background-image: url(../img/sw-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    /* font-size: 50px; */
    color: rgb(252, 232, 119);
}

.content {
    margin: 0 auto;
    width: 1000px;
    text-align: center;
    position: absolute;
	/* width: 18em; */
    height: 60em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 350%;
	font-weight: bold;
	text-align: justify;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(700px) rotateX(35deg);
}


.text {
    line-height: 1.5;
    text-align: justify;
	position: absolute;
	top: 100%;
	animation: scroll 30s linear 0s infinite;
}

.title {
    margin-left: 150px;
    line-height: 5;
}

@keyframes scroll {
	0% { 
        top: 100%; 
    }
	100% { 
        top: -160%; 
    }
}