.modalWrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.4);
}

.modal {
  width: 45%;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  background-color: #e74c3c;
}

.modalClose {
  cursor: pointer;
  font-size: 30px;
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
}

.modalText {
  font-size: 18px;
  color: white;
  margin: 39px 42px;
}

.topWrapper {
  display: flex;
  justify-content: space-between;
  background-color: #d44637;
  padding: 26px 31px;
  border-radius: 7px;
}

.modalTitle {
  margin: 0;
  color: white;
}

.modalButtonCancel {
  padding: 16px 28px;
  background-color: #b3382c;
  border-style: none;
  color: white;
  border-radius: 5px;
}

.modalButtonOk {
  padding: 16px 41px;
  margin-right: 10px;
  background-color: #b3382c;
  border-style: none;
  color: white;
  border-radius: 5px;
}

.buttonsWrapper {
  margin-bottom: 24px;
}
