@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}
.hero-menu {
    list-style: none;
    text-align: center;
}

.hero-item {
    display: inline-block;
    /*margin: 26px 72px 26px 0;*/
    padding: 26px 72px 26px 0;
    margin: 0 auto;
    font-weight: bold;
    text-transform: uppercase;
}

.hero-link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #FF0000;
}

.title {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 49px auto 38px;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    color: #373737;
}

.main-content {
    width: 100%;
}

.main-image {
    width: 100%;
    height: auto;
}

.main-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin: 0 68px;
    color: #373737;
}
.second-part {
    margin-top: 28px;
}

.main-button {
    width: 191px;
    height: 51px;
    margin: 66px auto 42px;
    display: block;
    background: #FF0000;
    border-radius: 4px;
    text-align: center;
    border-style: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 1.8px;
}

.bottom {
    width: 100%;
}

.bottom-info {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    margin: 0 auto;
    padding: 40px 105px 29px 0;
    text-align: right;
}
