a {
  color: black;
  text-decoration: none;
}

li {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.active {
    color: green;
    opacity: 0.5;
}

.header {
  background-color: #e74c3c;
  padding: 10px 400px;
}

.navList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

// .navElement {

// }
