body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100%;
}

.box {
    margin: 0 auto;
    text-align: center;
    width: calc(100% - 349px);
}

.hero-navigation {
    display: flex;
    justify-content: space-between;
    background: #313131;
}

.hero-name {
    display: flex;
    align-items: center;
}

.hero-icon {
    padding: 23px;
}

.hero-title {
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
}

.hero-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.hero-menu-item {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero-button {
    background: #000000;
    border: none;
}

.hero-search {
    padding: 26px;
}

.hero-background {
    background-image: url(../img/header-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 369px;
}

.hero-title {
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero-links {
    margin-top: 50px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.hero-link-green {
    padding: 17px;
    background-color: #89CA62;
    border-radius: 4px;
    margin-right: 10px;
    color: #FFFFFF;
}

.hero-link-blue {
    padding: 17px;
    background-color: #14B9D5;
    border-radius: 4px;
    margin-left: 10px;
    color: #FFFFFF;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 825px;
    align-content: space-between;
    gap: 30px;
}

.posts-item {
    width: 370px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.post-title {
    margin: 50px 0;
}

.blue-title {
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
}

.main-content {
    margin-bottom: 77px;
}

.posts-text {
    padding: 20px 15px;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}

.clients {
    background-image: url(../img/clients-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 588px;
    margin-top: 74px;
    text-align: center;
    display: grid;
    grid-auto-flow: row;
    row-gap: 30px;
    align-items: center;
}

.clients-title {
    /* padding-top: 106px;
    padding-bottom: 87px; */
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.blue-line {
    width: 60px;
    height: 3px;
    /* margin-bottom: 110px; */
    background: #18B4CF;
    border: none;
}

.clients-items-list {
    display: grid;
    grid-auto-flow: column;
    column-gap: 58px;
    justify-content: center;
}

.top-rated {
    text-align: center;
}

.rated-title {
    padding-top: 49px;
    padding-bottom: 10px;
}

.rated-images {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.rated-images-item {
    width: 100%;
}

.first-last-blocks {
    display: grid;
    grid-auto-flow: column;
    gap: 35px;
    margin-top: 42px;
    margin-bottom: 44px;
}


.middle-blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
}

.items-wrapper {
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    text-align: right;
    padding-top: 40px;
    padding-right: 24px;
}

.news-item-middle {
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    text-align: right;
}

.news-item-first-part {
    display: grid;
    grid-auto-flow: column;
}

.news-item-second-part {
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    text-align: center;
}

.news-item-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 14px;
}

.news-item-text {
    font-size: 14px;
    line-height: 21px;
    color: #353A3D;
}

.news-item-middle .news-item-title {
    padding-right: 14px;
    padding-top: 12px;
}

.news-item-middle .news-item-text {
    padding-right: 14px;
}

.landing-bottom {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    background: #000000;
}

.bottom-images {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-content: center;
}

.bottom-text {
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
    padding-top: 30px;
    padding-bottom: 30px;
}