.contacts {
  background: #000000;
}

.contacts__ {
  &wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 66px;
  }

  &title {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #fefefe;
    text-transform: uppercase;
  }

  &text {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #b9b9b9;
    padding-top: 22px;
  }

  &icons-wrapper {
    padding-top: 37px;
    display: flex;
    justify-content: center;
    column-gap: 6px;
  }

  &info {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #b9b9b9;
    padding-top: 34px;
    padding-bottom: 70px;
  }
}

.icon__ {
  &wrapper {
    @include round(#f8902e, 12px);
  }

  &wrapper:nth-child(2) {
    @include round(#39599f, 11px 14px);
  }

  &wrapper:nth-child(3) {
    @include round(#45b0e3, 11px 12px);
  }

  &wrapper:nth-child(4) {
    @include round(#d97ab0, 11px);
  }

  &wrapper:nth-child(5) {
    @include round(#cc212c, 11px 12px);
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    max-width: 320px;
  }

  .contacts__ {
    &title {
      font-size: 14px;
    }

    &text {
      font-size: 12px;
    }

    &info {
      font-size: 14px;
      line-height: 24px;
    }
  }
}
