.container {
  max-width: 1170px;
  margin: 0 auto;
}

.hero__ {
  &nav {
    display: flex;
    justify-content: space-evenly;
    padding-top: 45px;
  }

  &nav-item {
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    line-height: 22px;
    color: #4e4e4e;
    text-transform: uppercase;
  }

  &nav-item--first {
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    line-height: 22px;
    color: #57a4a4;
    text-transform: uppercase;
  }

  &image {
    padding-top: 51px;
  }
}

.burger {
  background: #000000;
  margin-top: 23px;
  width: 44px;
  height: 37px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 3px;
}

.burger__ {
  &line-first {
    width: 17px;
    height: 2px;
    background: #ffffff;
  }

  &line-second {
    width: 17px;
    height: 2px;
    background: #ffffff;
  }

  &line-third {
    width: 17px;
    height: 2px;
    background: #ffffff;
  }
}


@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 768px;
  }
  
  .hero__image {
    content: url(/src/img/hero-image-tablet.png);
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    max-width: 500px;
  }
  
  .burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 3px;
    position: relative;
  }

  .burger__line-first {
    transition: 1.5s;
  }

  .burger__line-second {
    transition: 1.5s;
  }

  .burger__line-third {
    transition: 1.5s;
  }

  .burger__line-first.active {
    transform: translateY(5.5px) rotate(225deg);
    transition: 1.5s;
  }
  
  .burger__line-second.active {
    transform: scale(0) rotate(360deg);
    transition: 1.5s;
  }
  
  .burger__line-third.active {
    transform: translateY(-5px) rotate(-225deg);
    transition: 1.5s;
  }

  .hero__nav.active {
    top: 4.5%;
    transition: 1.5s;
  }


  .hero__ {
    &nav {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: -100%;
      left: 41%;
      transition: 1.5s;
    }

    &nav-item--first {
      background: #F5F5F5;
      padding: 5px 105px 0px 13px;
    }

    &nav-item--first:hover,
    &nav-item--first:active,
    &nav-item--first:focus {
      background: #E5E5E5;
    }

    &nav-item {
      background: #F5F5F5;
      padding-top: 8px;
      padding-left: 13px;
    }

    &nav-item:hover,
    &nav-item:active,
    &nav-item:focus {
      background: #E5E5E5;
    }

    &image {
      content: url(/src/img/hero-image-mobile.png);
      padding-top: 23px;
    }

    &wrapper {
      display: flex;
      justify-content: flex-end;
    }
  }
}
