.posts {
  padding-bottom: 69px;
}

.posts__ {
  &title {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #4e4e4e;
    padding-top: 66px;
  }

  &wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 32px;
    padding-top: 24px;
  }

  &item {
    display: flex;
    column-gap: 21px;
  }

  &info-title {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: #4e4e4e;
  }

  &info-subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #7c7c7c;
  }

  &info-content {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: #5c5c5c;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    max-width: 320px;
  }

  .posts__ {
    &title {
      font-size: 14px;
    }

    &item {
      flex-direction: column;
      row-gap: 11px;
    }

    &item-image {
      max-width: 160px;
    }

    &info-content {
      display: none;
    }
  }
}
