.shots {
  background: #e5e5e5;
}

.shots__ {
  &text-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 47px;
  }

  &text-first {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #4e4e4e;
  }

  &text-second {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;
    color: #4e4e4e;
  }

  &image-wrapper {
    padding-top: 24px;
    padding-bottom: 49px;
    display: flex;
    column-gap: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .shots__ {
    &image:nth-child(1) {
      content: url(/src/img/shots-image-tablet1.png);
    }

    &image:nth-child(2) {
      content: url(/src/img/shots-image-tablet2.png);
    }

    &image:nth-child(3) {
      content: url(/src/img/shots-image-tablet3.png);
    }

    &image:nth-child(4) {
      display: none;
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .shots {
    background: rgba(0, 0, 0, 0.0001);
  }

  .shots__ {
    &image:nth-child(1) {
      content: url(/src/img/shot-image-mobile.png);
    }

    &image:nth-child(2),
    &image:nth-child(3),
    &image:nth-child(4) {
      display: none;
    }

    &text-second {
      display: none;
    }

    &wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}
