.container {
    min-width: 1200px;
}

.box {
    margin: 0 auto;
    width: 1160px;
}

.hero {
    background: url('../img/hero-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-navigation {
    background: rgba(94, 93, 88, 0.6);
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58px;
    height: 67px;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    background-color: #18CFAB;
    margin-right: 5px;
}

.h-letter {
    font-size: 40px;
    line-height: 31px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #fff;
}

.hero-name {
    display: flex;
    align-items: center;
}

.article-name {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 48px;
    color: #fff;
}

.ham-part {
    color: #18CFAB;
}

.hero-items {
    display: flex;
    align-items: center;
}

.hero-navigation-item {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    /* line-height: 24px; */
    color: rgba(255, 255, 255, 0.6);
    margin-right: 21px;
    text-transform: uppercase;
    cursor: pointer;
    padding-top: 48px;
    padding-bottom: 48px;
    border-bottom: 1px solid transparent;
}

.hero-navigation-item:hover {
    color: #18CFAB;
    border-bottom: 1px solid #18CFAB;
}

.search-img {
    width: 21.09px;
    height: 20px;
}

.hero-content {
    text-align: center;
    margin-top: 264px;
}

.hero-text-one {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: #fff;
    padding-bottom: 22px;
    text-transform: uppercase;
}

.hero-text-two {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 78px;
    color: #fff;
    padding-bottom: 22px;
    text-transform: uppercase;
}

.hero-text-three {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 34px;
    font-style: normal;
    color: #D4D4D4;
    margin-bottom: 129px;
}

.hero-buttons {
    padding-bottom: 243px;
}

.hero-link-green {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    color: #fff;
    padding: 16px 17px;
    background-color: #18CFAB;
    border-radius: 3px;
    margin-right: 26px;
    position: relative;
}

.hero-link-blue {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    color: #fff;
    padding: 16px 11px;
    background-color: #00CBF6;
    border-radius: 3px;
    position: relative;
}

.hero-link-green::after {
    position: absolute;
    content: "";
    width: 130px;
    height: 4px;
    background-color: #fff;
    border-top: 3px;
    top: -7%;
    left: 0.4%;
    border-radius: 3px 3px 0 0;
}

.hero-link-blue::after {
    position: absolute;
    content: "";
    width: 133px;
    height: 4px;
    background-color: #fff;
    border-top: 3px;
    top: -7%;
    left: 0.3%;
    border-radius: 3px 3px 0 0;
}

.main-content {
    margin-top: 8px;
}

.main-features {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    min-width: 1200px;
    width: 100%;
}

.main-features-blocks:nth-child(odd) {
    background-color: #1C2A33;
    color: #18CFAB;
}

.main-features-blocks:nth-child(even) {
    background-color: #18CFAB;
    color: #fff;
}

.main-features-blocks {
    padding: 100px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.main-features-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}

.services {
    text-align: center;
    margin-top: 83px;
}

.our-services {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    position: relative;
    color: #4E4E4E;
}

.our-services::after {
    position: absolute;
    content: "";
    width: 79px;
    height: 1px;
    background: #18CFAB;
    top: 62px;
    left: 540px;
}

.our-services::before {
    position: absolute;
    content: "";
    width: 79px;
    height: 1px;
    background: #18CFAB;
    top: 66px;
    left: 550px;
}

.services-list {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.services-list-item {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15.9859px;
    line-height: 39px;
    background: #F8FCFE;
    border: 1px solid #F2F2F2;
    padding: 17px 39.5px;
    cursor: pointer;
}

.services-list-item:hover {
    border: 1px solid #18CFAB;
    box-sizing: border-box;
}

.services-content {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.services-wrapper {
    display: none;
}

.active-wrapper {
    display: flex;
}

.services-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;
    color: #777777;
    margin-left: 15px;
    text-align: left;
}

.active {
    background: #18CFAB;
    color: #FFFFFF;
    position: relative;
}

.active::after {
    position: absolute;
    content: url('../img/services-triangle.png');
    top: 82%;
    left: 45%;
}

.purchase {
    margin-top: 91px;
    background: url('../img/purchase-back.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-bottom: 127px;
}

.purchase-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #18CFAB;
    padding-top: 126px;
    padding-bottom: 15px;
}

.purchase-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    padding-bottom: 62px;
}

.second {
    margin-bottom: 127px;
}

.second::after {
    width: 144.5px;
}

.work {
    background: #E9EDEF;
    text-align: center; 
}

.work-wrapper {
    padding-top: 96px;
}

.work-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    position: relative;
    color: #4E4E4E;
}

.work-title::after {
    position: absolute;
    content: "";
    width: 79px;
    height: 1px;
    background: #18CFAB;
    top: 62px;
    left: 530px;
}

.work-title::before {
    position: absolute;
    content: "";
    width: 79px;
    height: 1px;
    background: #18CFAB;
    top: 66px;
    left: 540px;
}

.second-list {
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #DADADA;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 71px;
    margin-bottom: 100px;
}

.services-img {
    width: 100%;
    height: 100%;
}

.services-element {
    position: relative;
    overflow: hidden;
}

.services-element:hover .element-hover {
    left: 0;
}

.element-hover {
    background: #E9EDEF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 46px 0px 50px 0px;
    position: absolute;
    top: 0;
    left: -500%;
    transition: 0.7s;
    border-top: 2px solid #18CFAB;
}

.hover-imgs-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    /* padding-right: 20px;
    padding-left: 20px; */
    margin-left: 105px;
    margin-right: 105px;
}

.first-hover-img {
    border: 1px solid #18CFAB;
    border-radius: 30px;
    padding: 12px;
}

.second-hover-img {
    padding-left: 5px;
}

.element-hover::after {
    position: absolute;
    content: "";
    width: 12px;
    height: 11px;
    background: #FFFFFF;
    left: 55.7%;
    top: 27.5%;
}

.main-hover-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14.1771px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
}

.secondary-hover-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12.1518px;
    line-height: 25px;
    color: #8A8A8A;
}

.elements-second-part {
    display: none;
}

.active-work {
    border: 1px solid #18CFAB;
    box-sizing: border-box;
}

.load-more {
    /* margin-top: 100px; */
    padding: 8px 15px 8px 50px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #18CFAB;
    position: relative;
    border-radius: 3px;
    border: none;
    margin-bottom: 100px;
    cursor: pointer;
}

.load-wrapp {
    float: left;
    width: 100px;
    height: 100px;
    margin: 0 10px 10px 0;
    padding: 20px 20px 20px;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    top: -105%;
    left: 5%;
    display: none;
}

.load-wrapp:last-child {
    margin-right: 0;
}

.line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #18CFAB;
}

.load-1 .line:nth-last-child(1) {
  animation: loadingA 1.5s 1s infinite;
}

.load-1 .line:nth-last-child(2) {
  animation: loadingA 1.5s 0.5s infinite;
}

.load-1 .line:nth-last-child(3) {
  animation: loadingA 1.5s 0s infinite;
}

@keyframes loadingA {
    0% {
      height: 15px;
    }

    50% {
      height: 35px;
    }

    100% {
      height: 15px;
    }
}

.plus-img {
    position: absolute;
    top: 35%;
    left: 20px;
}

.news {
    text-align: center;
}

.news-title {
    margin-top: 82px;
    margin-bottom: 100px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    position: relative;
}

.news-title::after {
    position: absolute;
    content: "";
    width: 79px;
    height: 1px;
    background: #18CFAB;
    top: 62px;
    left: 535px;
}

.news-title::before {
    position: absolute;
    content: "";
    width: 79px;
    height: 1px;
    background: #18CFAB;
    top: 66px;
    left: 545px;
}

.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
    row-gap: 45px;
}

.news-cards:hover .news-date {
    background: #18CFAB;
}

.news-cards:hover .news-cards-name {
    color: #18CFAB;
}

.news-cards {
    position: relative;
}

.news-date {
    padding: 10px 19px;
    background: #203E38;
    position: absolute;
    top: 0%;
    left: 74%;
}

.date-number {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
}

.date-month {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
}

.news-cards-name {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17.9885px;
    line-height: 39px;
    color: #717171;
    text-align: left;
    padding-left: 20px;
}

.cards-info {
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13.991px;
    line-height: 39px;
    padding-right: 65px;
    padding-left: 20px;
    position: relative;
}

.cards-info::before {
    position: absolute;
    content: "";
    height: 14px;
    width: 1px;
    background-color: #777777;
    top: 30%;
    left: 37%;
}

.third-card {
    background: #F8FCFE;
    border: 1px solid #F2F4F5;
}

.news-img {
    width: 99.7%;
}

.about {
    margin-top: 120px;
    background-image: url('../img/about-back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
    padding-top: 98px;
    padding-bottom: 99px;
    position: relative;
}

.about-title::after {
    position: absolute;
    content: "";
    width: 79px;
    height: 1px;
    background: #18CFAB;
    top: 160px;
    left: 250px;
}

.about-title::before {
    position: absolute;
    content: "";
    width: 79px;
    height: 1px;
    background: #18CFAB;
    top: 165px;
    left: 260px;
}

.about-svg {
    padding-bottom: 36px;
}

.quote-text {
    display: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    padding-bottom: 37px;
}

.active-text {
    display: inline;
}

.about-name {
    display: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #18CFAB;
    padding-bottom: 5px;
}

.active-person {
    display: inline;
}

.about-prof {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    color: #BBBBBB;
    padding-bottom: 38px;   
}

.person-big-img {
    border: 10px solid  rgba(31, 218, 181, 0.2);
    border-radius: 100%;
    margin-bottom: 57px;
    width: 143px;
    height: 142px;
}


.footer {
    text-align: center;
    background: #22353F;
    padding-top: 48px;
    padding-bottom: 48px;
}

.footer-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
}

.swiper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 350px;
    margin-bottom: 105px;
}

.swiper-pagination-bullet {
    width: 60px;
    height: 60px;
    opacity: 1;
}

.swiper-button-next {
    margin-top: 70px;
    margin-right: 250px;
    color: #BBBBBB;
    border: 1px solid #BBBBBB;
    padding: 5px;
}

.swiper-button-next:hover {
    background: #18CFAB;
    color: #fff;
}

.swiper-button-prev {
    margin-top: 70px;
    margin-left: 250px;
    color: #BBBBBB;
    border: 1px solid #BBBBBB;
    padding: 5px;
}

.swiper-button-prev:hover {
    background: #18CFAB;
    color: #fff;
}

.swiper-pagination-bullet{
    border: 7px solid  rgba(31, 218, 181, 0.3);
    transition: 0.5s;
}

.swiper-pagination-bullet:nth-child(1) {
    content: url('../img/person\ 1.png');
    margin-right: 50px;
}
.swiper-pagination-bullet:nth-child(2) {
    content: url('../img/person\ 2.png');
    margin-right: 30px;
}
.swiper-pagination-bullet:nth-child(3) {
    content: url('../img/person\ 3.png');
    margin-right: 30px;
}
.swiper-pagination-bullet:nth-child(4) {
    content: url('../img/person\ 4.png');
    margin-right: 30px;
}

.swiper-pagination {
    width: 300px;
    z-index: 1;
}

.swiper-pagination-bullet-active {
   transform: translatey(-13px);
   transition: 0.5s;
}

.swiper-slide {
    width: 166px;
    height: 166px;
}

swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: var(--swiper-pagination-bullet-horizontal-gap,30px);
}

:root {
    --swiper-theme-color: rgba(31, 218, 181, 0.3);
}


