body {
    font-family: 'Roboto', sans-serif;
}

.button-change {
    position: absolute;
    top: 15%;
    left: 80%;
    background-color: #fff;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 20px;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.hero-link {
    font-size: 80px;
    line-height: 94px;
    color: #000000;
}

.hero-title {
    margin-top: 63px;
    margin-bottom: 38px;
}

.title-color {
    color: skyblue;
}


.hero-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    
}

.hero-menu {
    background: #35444F;
}

.hero-menu-item {
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    padding: 26px 33px 19px;
}

.hero-menu-item:hover {
    background: #222F3A;
}

.item-border {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}

.main-content {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.main-list {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 344px;
    height: 399px;
    border: 1px solid #000000;
}

.main-content-item {
    width: 885px;
}

.main-list-item {
    font-size: 27px;
    line-height: 27px;
    padding: 20px 44px;
}

.main-list-item:hover {
    background: #DBDBDB;
    padding-left: 80px;
    transition: 0.5s;
}

.image-wrapper {
    border: 1px solid #000000;
    height: 529px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-image {
    transition: 1s;
}

.main-image:hover {
    transform: scale(1.2);
}

.content-text {
    margin-top: 35px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.content-end {
    display: flex;
    justify-content: space-between;
    margin-top: 54px;
    margin-bottom: 30px;
    background: rgba(99, 105, 110, 0.48);
    padding: 13px;
    font-size: 28px;
    line-height: 28px;
}

.footer-list {
    display: flex;
    justify-content: space-around;
    width: 928px;
}

.footer-text {
    padding-right: 30px;
}

.footer-list-item:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6
}



