.cardImg {
    height: 200px;
    width: 200px;
}

.cardContainer {
    border: 1px solid #000;
    border-radius: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.cardName {
    font-weight: bold;
    font-size: 25px;
}

.cross {
    margin-left: 50px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}